/*.php
/*.html
/*.txt
wp-config.php
/wp-content/index.php
/wp-content/plugins/*
!/wp-content/plugins/playsmart*
/wp-admin/*
/wp-includes/*
/wp-content/uploads/*
/wp-content/themes/*
!/wp-content/themes/kona*
#!/wp-content/themes/w4_base*
#/wp-content/languages/*
/robots.txt
.htaccess
#/.idea/*