# Ignore everything in the root directory
!.gitignore
/*
wp-config.php
wp-config.php
# Don't ignore the .gitignore file




#  ignore PHP files in the root directory
*.php

#  ignore the wp-admin directory
wp-admin/

# Don't ignore the wp-content directory and its subdirectories
wp-content/*
!wp-content/themes/konaboot
wp-content/plugins/*
