# Ignore everything in the root directory
/*

# Don't ignore the .gitignore file
!.gitignore



#  ignore PHP files in the root directory
*.php

# Don't ignore the wp-admin directory
wp-admin/

# Don't ignore the wp-content directory and its subdirectories
!wp-content/
!wp-content/themes/
!wp-content/plugins/
wp-config.php
